*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Noto Sans JP', sans-serif;
}

#wrapper{
	margin: auto;
	width: 940px;
	height: 124vh;
}

header{
	width: 100%;
	display: flex;
	justify-content: space-between;
}

header div:first-child{
	width: 300px;
	height: 20vh;
	background-color: rgba(0, 0, 255, 0.2);
	border-radius: 10px;
}

header div:last-child{
	width: 620px;
	height: 20vh;
	background-color: rgba(0, 0, 255, 0.2);
	border-radius: 10px;
	padding-top: 2em;
	color: #FFF;
	text-indent: 5em;
}

main{
	width: 100%;
	height: 60vh;
	margin: 4em 0;
	display: flex;
	justify-content: space-between;
}

main #pictures{
	width: 620px;
	height: inherit;
}

main #pictures #first-row{
	text-align: right;
	height: 49%;
	width: 160%;
	position: relative;
	right: 60%;
	border: 1px solid red;
}

main #pictures #second-row{
	text-align: right;
	margin: 1% 0;
	height: 49%;
	width: 120%;
	position: relative;
	right: 45%; 
}

#first-row img{
	height: 100%;
	border-radius: 10px;
}

#first-row #f-one{
	display: inline-block;
	margin-right: 3px;
	width: 19%;
}

#first-row #f-two{
	display: inline-block;
	margin: 0 3px;
	width: 12%;
}

#first-row #f-three{
	display: inline-block;
	margin: 0 3px;
	width: 20%;
}

#first-row #f-four{
	display: inline-block;
	margin: 0 3px;
	width: 17%;
}

#first-row #f-five{
	display: inline-block;
	margin: none;
	margin-left: 3px;
	width: 25%;
}

#second-row img{
	height: 100%;
	border-radius: 10px;
}

#second-row #s-one{
	display: inline-block;
	margin: none;
	margin-right: 3px;
	width: 21%;
}

#second-row #s-two{
	display: inline-block;
	margin: 0 3px;
	width: 34%;
}

#second-row #s-three{
	display: inline-block;
	margin: 0 3px;
	width: 15%;
}

#second-row #s-four{
	display: inline-block;
	margin: none;
	margin-left: 5px;
	width: 25%;
}

main #lorem{
	width: 300px;
	height: inherit;
}

#lorem h1{
	color: #0a3c6d;
	font-size: 1.9em;
	font-weight: bold;
}

#lorem p{
	color: #4f5255;
	line-height: 1.6em;
	margin-top: 10px;
}

footer{
	width: 100%;
}

footer div{
	width: 940px;
	height: 20vh;
	background-color: rgba(0, 0, 255, 0.2);
	border-radius: 10px;
	padding-top: 2em;
	color: #FFF;
	text-indent: 5em;
}

#arrows{
	width: 60px;
	height: 49%;
	position: relative;
	left: 90.5%;
	bottom: 50%;
}

#arrows #left-arrow{
	opacity: 0.5;
	width: 100%;
	height: 32%;
	border: 1px solid royalblue;
	border-radius: 5px;
}

#arrows #right-arrow{
	width: 100%;
	height: 32%;
	border: 1px solid royalblue;
	border-radius: 5px;
	margin-top: 10px;
}

#arrows #left-arrow:hover, #arrows #right-arrow:hover{
	cursor: pointer;
	border: 3px solid royalblue;
	transition: border 0.2s ease-in-out;
}

#arrows img{
	display: block;
	margin: 17px auto;
	width: 15px;
}

#angle-br-left{
	height: 120px;
	width: 120px;
	border-radius: 50%;
	background-color: rgba(197, 203, 203, 0.2);
	padding-top: 40px;
	padding-left: 65px;
	position: absolute;
	z-index: 2;
	top: 45vh;
	left: -7vw;
}

#angle-br-left img{
	height: 30px;
	width: 20px;
	display: block;
}

#angle-br-right{
	height: 120px;
	width: 120px;
	border-radius: 50%;
	background-color: rgba(197, 203, 203, 0.2);
	padding-top: 40px;
	padding-right: 25px;
	position: absolute;
	z-index: 2;
	top: 45vh;
	left: 96vw;
}

#angle-br-right img{
	height: 30px;
	width: 20px;
	display: block;
	margin: 0px auto;
}
