@media screen and (max-width: 1300px){
	img{
		width: 100px;
		height: 120px;
	}
	#a img:last-of-type{
		width: 130px;
		height: 140px;
	}
	#b .ch:last-of-type{
		width: 130px;
		height: 140px;
	}
	#lorem p{
		font-size: 0.9em;
	}
}

@media screen and (max-width: 1100px){
	#wrapper{
		height: 350px;
		width: 200%;
		display: grid;
	}
	#first-row{
		position: relative;
		right: 10px;
	}
	#second-row{
		position: relative;
		right: 10px;
	}
	#lorem{
		line-height: 1.4em; 
		position: relative;
		right: 0px;
		color: indigo;
	}
	img{
		width: 110px;
		height: 120px;
		position: relative;
	}
	#first-row img:last-of-type{
		width: 140px;
		height: 140px;
		border: 2px solid indigo;
	}
	#second-row .ch:last-of-type{
		width: 140px;
		height: 140px;
		border: 2px solid indigo;
	}
}

@media screen and (max-width: 950px){
	#first-row{
		position: relative;
		right: 10px;
	}
	#second-row{
		position: relative;
		right: 10px;
	}
	#lorem{
		line-height: 1.4em; 
		position: relative;
		right: 0px;
		color: indigo;
	}
	img{
		width: 100px;
		height: 110px;
		position: relative;
	}
	#first-row img:last-of-type{
		width: 110px;
		height: 120px;
		border: 2px solid indigo;
	}
	#second-row .ch:last-of-type{
		width: 140px;
		height: 140px;
		border: 2px solid indigo;
	}
}

@media screen and (max-width: 700px){
	#wrapper{
		height: 350px;
		width: 200%;
		display: grid;
	}
	#first-row{
		grid-column: 1 / span 2;
		grid-row: 1;
		position: relative;
		right: 10px;
	}
	#second-row{
		position: relative;
		right: 10px;
	}
	#lorem{
		line-height: 1.4em; 
		position: relative;
		right: 0px;
		color: indigo;
	}
	img{
		width: 50px;
		height: 60px;
		position: relative;
	}	
	#first-row img:last-of-type{
		width: 80px;
		height: 90px;
		border: 2px solid indigo;
	}
	#second-row .ch:last-of-type{
		width: 80px;
		height: 90px;
		border: 2px solid indigo;
	}
}